* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

#root {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1500px;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    display: flex;
}

.sidebar {
    flex: 0 0 208px !important;
    max-width: 208px !important;
    min-width: 208px !important;
    width: 208px !important;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.ant-layout-header {
    height: auto;
    padding: 0;
    color: transparent;
    line-height: 1;
    background: transparent;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1232px;
    padding: 18px 39px 21px 24px;
    background-color: #f0f5ff;
}

.main {
    max-width: 1232px;
    height: 857px;
    overflow: hidden;
}
