.header__info {
    display: flex;
    flex-direction: column;
    max-width: 1030px;
}

.header__page {
    margin-bottom: 16px;
    font-size: 14px;
    color: #262626;
}

.ant-typography.header__title {
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 38px;
    line-height: 1.3;
    letter-spacing: 0.4px;
    color: #262626;
}

.header__settings {
    margin-top: 40px;
}

.ant-btn.ant-btn-default.settings__text {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    height: 0;
    border: 0px solid transparent;
    border-radius: 0;
    border-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #262626;
    text-align: center;
    white-space: nowrap;
    background: transparent;
    background-image: none;
    box-shadow: 0;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

.anticon.settings__icon {
    display: inline-flex;
    align-items: center;
    margin-right: 2px;
    width: 14px;
    height: 14px;
    color: #262626;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: 0;
    transition: all 0.3s;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ant-btn.ant-btn-default.settings__text:hover,
.ant-btn.ant-btn-default.settings__text:hover .settings__icon {
    color: #2f54eb;
}

.ant-btn.ant-btn-default.settings__text:focus,
.ant-btn.ant-btn-default.settings__text:focus .settings__icon {
    border: none;
    outline: none;
    color: #2f54eb;
}
